@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../public/gambarino/Gambarino_Complete/Fonts/WEB/css/gambarino.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.article {
  max-width: 720px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  @apply mb-4;
}

h1,
h2 {
  @apply font-bold;
}

h1,
h2 {
  font-family: "Gambarino-Regular", "Times New Roman", Times, serif;
  @apply my-8;
}

h1 {
  @apply text-6xl;
}
h2 {
  @apply text-3xl;
}
h3,
h4,
h5,
h6 {
  @apply font-bold;
}
p {
  @apply text-base;
}
a {
  @apply text-blue-500 underline;
}
ul,
ol {
  p {
    @apply inline;
  }
}
ul {
  @apply list-disc list-inside;
}
ol {
  @apply list-decimal list-inside;
}
li {
  @apply mb-2;
}
blockquote {
  @apply border-l-4 border-gray-300 pl-4 italic;
}
code {
  @apply bg-gray-200 rounded p-1;
}
pre {
  @apply bg-gray-200 rounded p-1;
}
hr {
  @apply my-4 border-gray-300;
}
table {
  @apply border-collapse border-gray-300;
}
th {
  @apply border border-gray-300 p-2;
}
td {
  @apply border border-gray-300 p-2;
}
img {
  @apply mx-auto my-4;
}

.animate {
  transform: translateY(20px);
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  &__in {
    opacity: 0;
    transform: translateY(50px);
  }
}
